.price-block {
  padding: 72px 0;

  background-color: $color-basic-grey;

  @include vp--1024 {
    padding: 108px 0;
  }

  .container {
    @include vp--768 {
      display: grid;

      column-gap: 40px;

      grid-template-columns: 1fr 1fr;
      row-gap: 40px;
    }

    @include vp--1024 {
      row-gap: 64px;
      // display: grid;

      // column-gap: 40px;

      // grid-template-columns: 1fr 1fr;
    }
  }

  &__img {
    position: relative;

    display: flex;
    margin: 0 0 48px;
    overflow: hidden;

    border-radius: 8px;

    @include vp--768 {
      align-self: start;
      margin: 0;
    }

    &::after {
      content: "";

      padding-bottom: calc(100% * 160 / 300);
    }

    picture,
    img {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      width: 100%;
      margin: 0;
      padding: 0;

      object-fit: cover;
    }
  }

  &__title {
    margin: 0 0 32px;

    font-weight: 300;
    font-size: 24px;
    line-height: 24px;

    @include vp--1024 {
      margin: 0 0 24px;

      font-size: 32px;
      line-height: 32px;
    }

    em {
      display: block;
      margin: 8px 0 0;

      font-style: normal;
      font-weight: 700;
      font-size: 32px;
      line-height: 38px;
      color: $color-basic-blue;

      @include vp--1024 {
        font-size: 48px;
        line-height: 48px;
        letter-spacing: 0.02em;
      }
    }
  }

  &__text {
    margin: 0 0 32px;

    font-weight: 300;
    font-size: 16px;
    line-height: 19px;

    @include vp--1024 {
      max-width: 453px;
    }

    em {
      font-style: normal;
      color: $color-basic-blue;
    }
  }

  &__intro {
    margin: 0 0 64px;

    @include vp--768 {
      margin: 0;
    }

    @include vp--1024 {
      padding-right: 40px;
    }
  }

  &__footer {
    @include vp--768 {
      grid-column: 1/3;
    }

    @include vp--1024 {
      display: flex;
      max-width: 1050px;
    }
  }

  &__list {
    display: grid;
    margin: 0 0 40px;
    padding: 0;

    list-style: none;

    @include vp--768 {
      column-gap: 15px;

      grid-template-columns: repeat(3, 1fr);
    }

    @include vp--1024 {
      flex-grow: 1;

      column-gap: 32px;
    }
    row-gap: 40px;
  }

  &__note {
    max-width: 173px;

    font-weight: 300;
    font-size: 16px;
    line-height: 19px;

    &::before {
      content: "*";
    }
  }
}
