@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Codec Pro";

  font-display: swap;
  src: url("../fonts/codec-pro-bold.woff2") format("woff2"),
    url("../fonts/codec-pro-bold.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 300;
  font-family: "Codec Pro";

  font-display: swap;
  src: url("../fonts/codec-pro-light.woff2") format("woff2"),
    url("../fonts/codec-pro-light.woff") format("woff");
}
