-
  const priceBlockItems = [
    {
      title: 'Cientista de Dados Jr',
      price: '6.572',
    },
    {
      title: 'Cientista de Dados Pleno',
      price: '8.767',
    },
    {
      title: 'Cientista de Dados Sr',
      price: '12.104',
    },
  ]
